<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/homepage.css')}}">
    <script src="../static/js/homepage.js"></script>
</head>
<body>
    <header>
        <div class="mainHeader">
            <div class="leftHeader">
                <img class="logoHeader" src="../static/media/VoteSmart_Logo_with_Blue_and_Green_Color_Palette-removebg-preview.png" alt="">
            </div>
            <div class="rightHeader">
                    <li class="linkHeader"><a href="#">About Us</a></li>
                    <li class="linkHeader"><a href="#">Contact</a></li>
                    <li class="linkHeader"><a href="#">Credit</a></li>
                    <li class="linkHeader"><a href="#">Sign Up</a></li>
                </ul>
        </div>
    </header>
    <div class="mainBody">
        <h1>Main Body</h1>
    </div>
    <footer>
        <h1>Footer</h1>
    </footer>
</body>
</html>